.nav-bar{
    width: 5%;
    height: 100vh;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#nav-about, #nav-projects{
    writing-mode: vertical-rl;
    background-color: transparent;
    color: #00ADB5;
    cursor: pointer;
    font-size: 2vh;
    text-align: center;
    padding-right: 10px;
    transition: color .2s;
}

#nav-about:hover, #nav-projects:hover{
    color: #11999E;
}
