.nav-bar{
    width: 100%;
    height: 5vh;
    right: 0;
    display: flex;
    justify-content: space-around;
}

#nav-about, #nav-projects{
    background-color: transparent;
    color: #00ADB5;
    cursor: pointer;
    font-size: 2vh;
    text-align: center;
    padding-top: 20px;
    padding-right: 10px;
    transition: color .2s;
}

#nav-about:hover, #nav-projects:hover{
    color: #11999E;
}
