.projects{
    height: 100%;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
}

.project-card{
    display: flex;
    position: relative;
    max-width: 100%;
    height: 70vh;
    transition: scale 1s;
    border: solid white 2px;
}

#card-img{
    aspect-ratio: 1/1;
    object-fit: cover;
    width: 1fr;
    height: 100%;
    z-index: -1;
}

#project-info{
    width: 1fr;
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

#project-name{
    color: #EEEEEE;
}

#project-desc{
    color: #EEEEEE;
    opacity: .6;
    border-left : #EEEEEE solid 1px;
    border-radius: 10px;
    margin-right: 5%;
    margin-top: 0;
    padding: 3%;
}

#h2{
    color: #00adb3;
    font-size: 1vw;
    /* opacity: .6; */
    margin-bottom: 3px;
    margin-left: 10px;
}

#tech-used{
    display: flex;
    justify-content: space-evenly;
}

#tech-imgs{
    width: 20px;
}